.font {
  font-size: 100px;
}

.life-test {
  font-weight: 900;
  font-size: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 20px;
  flex-wrap: wrap;
}

.cardsss {
  width: 30%;
}

.product-end {
  display: flex;
  justify-content: space-between;
}

.register{
  display: flex;
  justify-content: space-between;
}
